/*京东红样式*/
.jd_container {
  /*最外面的容器盒子*/
  width: 100%;
  min-height: 800px;
  background-color: #eee;
}
.jd_container .container_header {
  /*顶部通栏*/
  width: 100%;
  height: 40px;
  z-index: 9999;
  position: fixed;
  line-height: 40px;
  background-color: #c91523;
  padding: 0px 60px 0px 70px;
}
.jd_container .container_header .header_logo {
  top: 2px;
  left: 5px;
  width: 60px;
  height: 36px;
  position: absolute;
  background: url("../images/sprites.png") no-repeat 0px -103px;
  background-size: 200px 200px;
}
.jd_container .container_header .header_glass {
  top: 10px;
  left: 75px;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../images/sprites.png") no-repeat -60px -109px;
  background-size: 200px 200px;
}
.jd_container .container_header .header_search {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  padding-left: 25px;
  border-radius: 15px;
}
.jd_container .container_header .header_login {
  top: 0px;
  right: 10px;
  color: #fff;
  font-size: 17px;
  position: absolute;
}
.jd_container .container_slider {
  /*顶部轮播图*/
  width: 100%;
  overflow: hidden;
  position: relative;
}
.jd_container .container_slider .slider_img {
  width: 1000%;
  transform: translateX(-320px);
}
.jd_container .container_slider .slider_img li {
  width: 10%;
  float: left;
}
.jd_container .container_slider .slider_img li a {
  width: 100%;
  display: block;
}
.jd_container .container_slider .slider_img li a img {
  width: 100%;
}
.jd_container .container_slider .slider_index {
  left: 50%;
  bottom: 10px;
  margin-left: -44px;
  position: absolute;
}
.jd_container .container_slider .slider_index li {
  width: 6px;
  height: 6px;
  float: left;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.jd_container .container_slider .slider_index li.current {
  background-color: #fff;
}
.jd_container .container_nav {
  /*导航*/
  width: 100%;
  padding-top: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.jd_container .container_nav ul {
  width: 100%;
}
.jd_container .container_nav ul li {
  width: 25%;
  float: left;
  text-align: center;
}
.jd_container .container_nav ul li a {
  width: 100%;
  display: block;
}
.jd_container .container_nav ul li a img {
  width: 55%;
  margin: 0px auto;
}
.jd_container .container_nav ul li p {
  color: gray;
  line-height: 30px;
}
.jd_container .container_main {
  /*主体部分*/
  width: 100%;
  padding: 10px 5px;
}
.jd_container .container_main .main_content {
  width: 100%;
  min-height: 150px;
  margin-bottom: 7px;
  background-color: #fff;
  box-shadow: 0px 0px 2px gray;
}
.jd_container .container_main .main_content:nth-child(n+2) {
  /*主体部分除第一块特殊样式*/
}
.jd_container .container_main .main_content:nth-child(n+2) .main_content_top {
  border-bottom: 1px solid #ccc;
}
.jd_container .container_main .main_content:nth-child(n+2) .main_content_top span {
  color: #c91523;
  font-size: 15px;
  margin-left: 15px;
  position: relative;
}
.jd_container .container_main .main_content:nth-child(n+2) .main_content_top span::before {
  content: "";
  width: 5px;
  height: 15px;
  top: 3px;
  left: -10px;
  margin-right: ;
  background-color: #c91523;
  position: absolute;
}
.jd_container .container_main .main_content:nth-child(n+2) .main_content_bottom ul li {
  width: 50%;
}
.jd_container .container_main .main_content:nth-child(n+2) .main_content_bottom ul li a {
  border-right: none;
}
.jd_container .container_main .main_content:nth-child(n+2) .main_content_bottom ul li a img {
  width: 100%;
}
.jd_container .container_main .main_content .main_content_top {
  width: 100%;
  height: 32px;
  line-height: 32px;
}
.jd_container .container_main .main_content .main_content_top .main_content_top_left {
  height: 100%;
  margin-left: 7px;
}
.jd_container .container_main .main_content .main_content_top .main_content_top_left span {
  float: left;
  width: 20px;
  height: 25px;
  margin: 3.5px 5px 3.5px 0px;
  background: url("../images/seckill-icon.png") no-repeat;
  background-size: 20px 25px;
}
.jd_container .container_main .main_content .main_content_top .main_content_top_left p {
  float: left;
  color: #c91523;
}
.jd_container .container_main .main_content .main_content_top .main_content_top_left ul {
  float: left;
  margin: 8.5px 0px 0px 5px;
}
.jd_container .container_main .main_content .main_content_top .main_content_top_left ul li {
  color: #fff;
  float: left;
  width: 15px;
  height: 15px;
  margin-left: 3px;
  line-height: 15px;
  text-align: center;
  background-color: #000;
}
.jd_container .container_main .main_content .main_content_top .main_content_top_left ul li:nth-child(3n) {
  width: 6px;
  color: #000;
  background-color: #fff;
}
.jd_container .container_main .main_content .main_content_top .main_content_top_right {
  margin-right: 5px;
}
.jd_container .container_main .main_content .main_content_top .main_content_top_right a {
  color: gray;
}
.jd_container .container_main .main_content .main_content_bottom {
  width: 100%;
  height: 100%;
}
.jd_container .container_main .main_content .main_content_bottom ul {
  width: 100%;
}
.jd_container .container_main .main_content .main_content_bottom ul li {
  float: left;
  width: 33.333333%;
  text-align: center;
}
.jd_container .container_main .main_content .main_content_bottom ul li:nth-child(3) a {
  border-right: 0;
}
.jd_container .container_main .main_content .main_content_bottom ul li a {
  width: 100%;
  display: block;
  border-right: 1px solid #ccc;
}
.jd_container .container_main .main_content .main_content_bottom ul li a img {
  width: 65%;
  margin: 1px auto 2px;
}
.jd_container .container_main .main_content .main_content_bottom ul li p {
  line-height: 25px;
}
.jd_container .container_main .main_content .main_content_bottom ul li p:nth-child(2) {
  color: #c91523;
}
.jd_container .container_main .main_content .main_content_bottom ul li p:nth-child(3) {
  margin-top: -3px;
  padding-bottom: 5px;
  text-decoration: line-through;
}
